@page
@model ListModel
@{
}

<h1>Restaurants</h1>

<form method="get">

    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />

            <button type="submit" class="btn btn-primary">Search</button>
        </div>

    </div>

</form>

<a class="btn btn-primary" asp-page="./Edit">
    Add Restaurant
</a>
@if (Model.Message != null)
{
    <div class="alert alert-info"> @Model.Message</div>
}

<table class="table">
    @foreach (var restaurant in Model.restaurants)
    {
        <tr>
            <td>
                @restaurant.Name
            </td>
            <td>
                @restaurant.Location
            </td>
            <td>
                @restaurant.Cuisine
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">
                    Detail
                </a>
                <a class="btn btn-success" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">
                    Edit
                </a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-restaurantId="@restaurant.Id">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>


@section footer {
    <p> How are you</p>
}
<p>@Model.Message</p>

